@import "src/assets/styles/styles.scss";

.player-card {
  width: 250px;
  height: 300px;
  background-color: rgb(65, 65, 65);
  border-radius: 10px;
  border: 2px solid white;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  @include title();
  @include paragraph();
  img {
    position: absolute;
    top: -50px;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100%;
  }
  .player-info {
    display: flex;
    align-items: center;
    word-break: break-all;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 40px;
    width: 100%;
    height: 100%;
    h3,
    p {
      color: white;
    }
    h3 {
      font-size: 1.3rem;
    }
    p {
      font-size: 1rem;
    }
  }
  cursor: pointer;
  transition: ease all 250ms;
}

.player-card:hover {
  transform: scale(1.05);
}
