@import "src/assets/styles/styles.scss";

.replay {
  width: 60vw;
  padding: 20px;
  border-radius: 20px;
  margin: 10px 0 10px 0;
  display: flex;
  h3 {
    color: white;
  }
  @include title();

  background-color: rgb(83, 83, 83);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h3,
  a {
    text-align: center;
  }
  h3 a {
    word-break: break-all;
    color: rgb(28, 114, 243);
  }

  img {
    width: 80%;
    border-radius: 10px;
  }
}

@media only screen and (max-width: 570px) {
  .replay {
    width: 90vw;

    img {
      width: 100%;
      border-radius: 10px;
    }
  }
}
