@import "src/assets/styles/styles.scss";

header {
  @include title();
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  position: relative;
  height: 80px;
  background-color: $mainBackgroundColor;
  h1 {
    color: white;
  }
  img {
    width: auto;
    height: 50px;
  }

  .logo {
    cursor: pointer;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .text {
    flex: 9;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    h1 {
      cursor: pointer;
      color: white;
      font-size: 1.4rem;
      transition: all ease 200ms;
    }
    h1:hover {
      transform: scale(1.1);
    }
    padding: 0 10% 0 10%;
  }
}

@media only screen and (max-width: 570px) {
  header {
    .logo {
      img {
        width: auto;
        height: 30px;
      }
      h1 {
        cursor: pointer;
        color: white;
        font-size: 3.5vw;
        transition: all ease 200ms;
      }
    }
    .text {
      h1 {
        cursor: pointer;
        color: white;
        font-size: 2.5vw;
        transition: all ease 200ms;
      }
    }
  }
}
