.home {
  width: 100vw;
  height: calc(100vh - 80px);
  background-color: rgb(46, 46, 46);

  display: grid;
  padding: 60px;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-gap: 20px;
  grid-auto-rows: 350px;
  overflow: hidden;
  overflow-y: scroll;
  justify-items: center;
  justify-content: center;
}
