<div class="clasificacion">
  <h1>Tabla de Clasificación</h1>
  <table id="mundialito" *ngIf="players.length != 0">
    <tr>
      <th>Rank</th>
      <th>Player</th>
      <th>Win</th>
      <th>Loses</th>
      <th>Roles</th>
      <th>Medalla</th>
    </tr>
    <tr *ngFor="let player of players; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ player.name }}</td>
      <td>{{ player.wins }}</td>
      <td>{{ player.loses }}</td>
      <td>
        <p *ngFor="let role of player.roles">{{ role }}</p>
      </td>
      <td><img src="{{ player.medal }}" alt="medalla" /></td>
    </tr>
  </table>

  <div class="main-content" *ngIf="players.length == 0">
    <div class="fila-carta">
      <div class="aliniamiento">
        <h1>No se encontraron jugadores</h1>
      </div>
    </div>
  </div>
</div>
